snippet cc
/*--------------------------------------------------------------
	${1}
--------------------------------------------------------------*/
endsnippet

snippet after
:after {
	content: "";
	${1}
}
endsnippet

snippet dib
display: inline-block;
endsnippet

snippet db
display: block;
endsnippet

snippet tac
text-align: center;
endsnippet

snippet posa
position: absolute;
endsnippet

snippet font
font: 400 ${1}px/1.6 '${2}', sans-serif;
endsnippet
