snippet cc
/*--------------------------------------------------------------
	${1}
--------------------------------------------------------------*/
endsnippet

snippet after
:after {
	content: "";
	${1}
}
endsnippet
