snippet wpimg
	<img src="<?php echo get_stylesheet_directory_uri(); ?>/images/${1}" alt="${2}">
endsnippet

snippet container
<div class="container">
	<div class="row">
		<div class="col-md-12">
			${1}
		</div>
	</div>
</div>
endsnippet

snippet html5
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>${1}</title>
</head>
<body>
	${2}	
</body>
</html>
endsnippet
