snippet uli
ul {
	padding: 0;
	margin: 0;
	list-style: none;

	li {
		display: inline-block;
	}
}
endsnippet

snippet cc
/*--------------------------------------------------------------
	${1}
--------------------------------------------------------------*/
endsnippet

snippet after
:after {
	content: "";
	${1}
}
endsnippet
